@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
html { font-family: 'Inter var', sans-serif; }
}

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

body {
  line-height: 1.5;
  min-height: 100vh;
}

ul {
  margin: 0;
  padding-inline: 0;
}

li {
  list-style: none;
}

img,
picture {
  max-width: 100%;
  display: block;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behaviour: auto !important;
  }
}

/* Variables */
:root {
font-family: 'Inter var', sans-serif;
}

/* Base */
body {
  font-family: var(--font-sans);
}
/* Layout */

.nav-bar {
  background-color: #a7caff;
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-bar img{
width: 150px;
margin-left: 30px;
}

.contenedor-banner1 {
      background-image: url(https://res.cloudinary.com/dy9sakdz0/image/upload/v1645548411/cecf8aae355fd66186a5430d68005f8c_pkqrhn.jpg);
 }

 .contenedor-banner1 h2{
   font-size: 60px;
   line-height: 1;
   text-align: left;
   padding-left: 30px;
   padding-top: 30px;
 }
 .contenedor-banner1 p{
   text-align: left;
   padding-left: 30px;
   padding-right: 30px;
   padding-top: 30px;
   padding-bottom: 30px;
 }

 .contenedor-banner2 {
   background-color: #a7caff;
 }

 .contenedor-banner2 h2{
   color: aliceblue;
   font-size: 30px;
   text-align: left;
   padding-left: 30px;
   padding-top: 30px;
 }
 .contenedor-banner2 p{
   color: aliceblue;
   text-align: left;
   padding-left: 30px;
   padding-right: 30px;
   padding-top: 30px;
   padding-bottom: 30px;
 }

 .contenedor-banner3 {
 }

 .contenedor-banner3 h2{
   font-size: 30px;
   text-align: left;
   padding-left: 30px;
   padding-top: 30px;
 }
 .contenedor-banner3 p{
   text-align: left;
   padding-left: 30px;
   padding-right: 30px;
   padding-top: 30px;
   padding-bottom: 30px;
 }

 .footer {
   color: aliceblue;
   background-color: black;
     padding-left: 30px;
   padding-right: 30px;
   padding-top: 30px;
   padding-bottom: 30px;
 }

/* Componentes */

/* Utilidades */
.flex {
  display: flex;
}
.grid {
  display: grid;
}
